body {
    background-color: #176378;
}

.sidebar {
    margin: -10px;
    width: 150px;
    background-color: #06A1CD;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 15px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #FFF400;
    padding: 15px;
}

.sidebar a:hover:not(.active) {
    background-color: #ffffff;
    color: #272727;
}

.sidebar a.active {
    background-color: #D800B6;
}

.content {
    margin-left: 180px;
    padding: 0px 10px;
}