body {
    background-color: #06A1CD;
}

a {
    color: #272727;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.project-card {
    position: relative;
    height: 420px;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1;
    overflow: hidden;
}

.project-basics {
    padding: 0 10px 10px 10px;
    font-size: 20px;
}

.project-details {
    padding: 0px 10px 0px 10px;
    display: none;
    min-width: 300px;
}

.project-details .btn-close {
    color: #000;
    float: right;
    margin-right: 10px;
    font-size: 25px;
}

.btn-close:hover {
    cursor: pointer;
}

#project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media(max-width: 510px){
    #project-container {
        flex-direction: column;
    }

    .project-card {
        height: 550px;
    }

    .project-card img, .project-card .btn-close {
        display: none !important;
    }

    .project-basics, .project-details {
        display: block !important;
    }
}

@media(min-width: 510px){
    #overlay {
        display: none !important;
    }

    .project-image {
        padding-bottom: 45%;
        background-size: cover;
        background-position: center center;
      }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 27px;
}

h3 img {
    float: right;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.details-button {
    background-color: rgb(146, 231, 255);
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.details-button a {
    color: #272727;
    text-decoration: none;
    cursor: pointer;
}

.buttons-container {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

#overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5050px;
    opacity: 0.7;
    z-index: -1;
    background-color: #272727;
  }

footer {
    margin-top: 25px;
}

.contact-method {
    background-color: rgb(146, 231, 255);
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 300px;
    text-align: center;
    border-radius: 90px;
}

.contact-method a {
    padding-left: 10px;
}

.contact-method a:hover {
    color: #027FA2;
}

#content {
    font-family: 'Playfair Display', serif;
}

#content h1, #content h2, h3, #home .btn a {
    font-family: 'Poppins', sans-serif;
}

#home, #skills, #contact {
    height: 100vh;
}

#home, #about, #projects, #skills, #contact {
    padding: 60px 25px 0px 25px;
}

.navbar-color, #home .btn {
    background-color: #333A56;
}

#home {
    padding-top: 0px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    background-color: #F7F5E6;
}

#home .btn {
    margin: 0 auto;
    width: 50%;
    padding: 6px 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #333A56 solid;
}

#home .btn:hover {
    background-color: #52658f;
    border: 1px #52658f solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#home .btn a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}