body {
    background-color: #06A1CD;
}

a {
    color: #272727;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* .top-bar {
    top: 0px;
    left: 0px;
    background-color: #027FA2;
    overflow: hidden;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
}

.top-bar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.top-bar a:hover {
    background-color: #ffffff;
    color: #272727;
}

.top-bar h1 {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.open-menu {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.sidebar {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    background-color: #027FA2;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover:not(.active){
    color: rgb(146, 231, 255);
}

.sidebar .btn-close {
    position: absolute;
    top: 0px;
    right: 22px;
    margin-left: 50px;
    font-size: 36px;
    color: #ffffff;
} */

.project-card {
    position: relative;
    height: 420px;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1;
    overflow: hidden;
}

.project-basics {
    padding: 0 10px 10px 10px;
    font-size: 20px;
}

.project-details {
    padding: 0px 10px 0px 10px;
    display: none;
    min-width: 300px;
}

.project-details .btn-close {
    color: #000;
    float: right;
    margin-right: 10px;
    font-size: 25px;
}

.btn-close:hover {
    cursor: pointer;
}

#project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media(max-width: 510px){
    /* #content {
        width: 97%;
        margin-top: 65px;
        transition: 0.3s;
        position: absolute;
        z-index: 0;
        margin-right: 10px;
    } */

    #project-container {
        flex-direction: column;
    }

    .project-card {
        height: 550px;
    }

    .project-card img, .project-card .btn-close {
        display: none !important;
    }

    .project-basics, .project-details {
        display: block !important;
    }
}

@media(min-width: 510px){
    /* .top-bar {
        display: none;
    }
    .sidebar {
        margin-top: -30px;
        width: 250px !important;
        opacity: 1;
    }
    .sidebar .btn-close {
        display: none;
    } */
    /* #content {
        transition: 0.3s;
        margin-left: 260px;
    } */

    #overlay {
        display: none !important;
    }

    .project-image {
        padding-bottom: 45%;
        background-size: cover;
        background-position: center center;
      }
}

/* .sidebar a.active {
    color: #000;
} */

h2 {
    font-size: 32px;
}

h3 {
    font-size: 27px;
}

h3 img {
    float: right;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.details-button {
    background-color: rgb(146, 231, 255);
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.details-button a {
    color: #272727;
    text-decoration: none;
    cursor: pointer;
}

.buttons-container {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

#overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5050px;
    opacity: 0.7;
    z-index: -1;
    background-color: #272727;
  }

footer {
    margin-top: 25px;
}

.home-buttons {
    background: #027FA2;
    padding: 6px 11px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px rgb(0, 166, 212) solid;
    opacity: 0.9;
}

.home-buttons:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-buttons a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.contact-method {
    background-color: rgb(146, 231, 255);
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 300px;
    text-align: center;
    border-radius: 90px;
}

.contact-method a {
    padding-left: 10px;
}

.contact-method a:hover {
    color: #027FA2;
}

#content {
    font-family: 'Playfair Display', serif;
    padding-top: 25px;
    padding-left: 50px;
}

#content h1, #content h2, h3 {
    font-family: 'Poppins', sans-serif;
}

#home, #skills, #contact {
    height: 100vh;
}

#about, #projects, #skills, #contact {
    padding-top: 60px;
}